# Start the rewrite engine
RewriteEngine On
RewriteBase /

# Enable URL Fopen
php_value allow_url_fopen On

# Disable Indexing
Options -Indexes

# Remove PHP Extension
RewriteCond %{REQUEST_FILENAME}\.php -f [NC]
RewriteRule ^(.+?)/?$ $1.php
